.cache
.direnv
.DS_Store
.env
.envrc
.jest-test-results.json
.netrwhist
.vimrc
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*.log
*~
build
coverage
dist
jest
node_modules
package-lock.json
Session.vim
